/* :root{
    --iris_primary_brand: #4D5AE5;
    --ocean_pressed_state: #404BBF;
    --navy_blue_dark: #2e2f42;
    --green_success: #31d0aa;
    --slate_text: #434455;
    --light_slate_subtle_text: #8e8f99;
    --cornflower_accent: #e7e9fc;
    --cloud_light: #f4f4fd;
} */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}


/* Main styles text */
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



/* Web saite */
/* Header */
.header-logo:link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.header-logo-hi{
    color: #2e2f42;
}

.header-item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy_blue_dark)
}

.header-item:hover,
.header-item:focus {
    color: #404bbf;
}

.header-address{
    font-style: normal
}

.header-email{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-email:hover,
.header-email:focus {
    color: #404bbf;
}

.header-tel{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #434455;
}
.header-tel:hover,
.header-tel:focus {
    color: #404bbf;
}

/* Hero_Section_1*/
.hero {
    background-color: #2e2f42;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* Button hero */
.hero-button{
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus { 
     background-color: #4D5AE5;
     color: #FFFFFF;
}

/* Button portfolio */
.portfolio-button{
    background: #f4f4fd;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background: #404BBF;
    color: #FFFFFF;
}


/* Section_4_Team */
.team{
    background-color: #f4f4fd;
}

.team-people{
    background-color: #FFFFFF;
}

/* Footer */
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
}

.footer-logo-hi {
    color: #f4f4fd;
}