:root{
    --tex-color:#434455;
    --title-color:#2e2f42;
    --background-color: #FFFFFF;
    --hero-titel: #FFFFFF;
    --portfolio-bg-focus: #FFFFFF;
    --hero-bg-text: #FFFFFF;
    --subtitle-color: #2e2f42;
    --header-logo-hi: #2e2f42;
    --header-item: #2e2f42;
    --background-color-hero: #2e2f42;
    --background-color-footer: #2e2f42;
    --ocean-color: #404bbf;
    --iris-color: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--tex-color);
    background-color: var(--background-color);    
}

/************ WEB SAITE ************/

/*********** STYLES TEXT***********/
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--subtitle-color);
}

/* ПАРАГРАФ!!! */
.text { 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ****** */

/* ЗАГОЛОВОК */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}
/* ****** */

.list {
    list-style: none;
}

.link {
    color: inherit;
    text-decoration: none;
}


/*********** HEADER ***********/
.header-logo:link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    text-decoration: none;
}

.header-logo-hi {
    color: var(--header-logo-hi)
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-item);
}

.header-item:hover,
.header-item:focus {
    color: var(--ocean-color);
}

.header-address {
    font-style: normal;
    color: var(--tex-color);

}

.header-item-adress{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tex-color);
}

.header-item-adress:hover,
.header-item-adress:focus {
    font-style: normal;
    color: var(--ocean-color);
}


/*********** PAGEST INDEX ***********/
/*********** SECTION_1_HERO ***********/

.hero {
    background-color: var(--background-color-hero);
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-titel);
}
/*********** BUTTON_HERO ***********/
.hero-button{
    background-color: var(--iris-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-bg-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus { 
     background-color: var(--ocean-color);
}

/*********** SECTION_4_TEAM ***********/
.team{
    background-color: var(--cloud);
}
.team-people{
    background-color: var(--background-color);
}

/*********** PAGEST PORTFOLIO ***********/
/*********** BUTTON PORTFOLIO ***********/

.portfolio-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--cloud);
    color: var(--iris-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--ocean-color);
    color: var(--portfolio-bg-focus);
}

/*********** FOOTER ***********/
.footer {
    background-color: var(--background-color-footer);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower);
}

.footer-logo-hi {
    color: var(--cloud);
}